<launch>
  <!-- PARAMS -->
  <arg name="sim" default="true"/>
  <arg name="bringup_falcon" default="false"/>
  <arg name="world_name" default="$(find cpr_bringup)/worlds/bifurcation.world"/>
  <arg name="rviz_conf" default="$(find cpr_bringup)/launch/rviz/admittance_fake_wrench.rviz"/>

  <!-- SET WORLD FRAME -->
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" 
    args="0 0 0 0 0 0 1 world odom 7" />

  <!-- BRINGUP ROBOT -->
  <include file="$(find cpr_bringup)/launch/robot_bringup.launch">
    <arg name="sim" value="$(arg sim)"/>
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <!-- RVIZ -->
  <group if="$(arg sim)" >
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf)"/>
  </group>

  <group if="$(arg sim)">
    <!-- FAKE WRENCH (if there is no falcon device)-->
    <node unless="$(arg bringup_falcon)" name="fake_wrench" pkg="cpr_bringup" type="fake_wrench.py"
      required="true" output="screen">
      <remap from="wrench" to="admittance_control/wrench" />
    </node>

    <!-- REAL WRENCH from falcon -->
    <include if="$(arg bringup_falcon)" file="$(find falcon_ros)/launch/falcon_as_forceInput.launch"/>

    <!-- SET INITIAL POSE AND START CONTROLLERS-->
    <!-- To make sure gazebo is already loaded, they are launched 6 secs
         after the initial roslaunch -->
    <node pkg="cpr_bringup" type="timed_roslaunch.sh"
      args="6 cpr_bringup init_pose_start_controllers.launch"
      name="timed_start_controllers" output="screen">
  </node>

  </group>

</launch>


