<?xml version="1.0" ?>
<launch>
  <!--
      Launch file for a CPR closed-loop controller.
  -->

  <!-- Connection params-->
  <arg name="IP_ADDRESS_ARM" default="192.168.131.17"/>
  <arg name="REVERSE_PORT_ARM" default="50001"/>
  <arg name="CMD_TOPIC_PLATFORM" default="/cmd_vel"/>
  <arg name="ODOM_TOPIC_PLATFORM" default="/odometry/filtered"/>


  <param name="ip_address_arm" value="$(arg IP_ADDRESS_ARM)"/>
  <param name="reverse_port_arm" value="$(arg REVERSE_PORT_ARM)"/>
  <param name="cmd_topic_platform" value="$(arg CMD_TOPIC_PLATFORM)"/>
  <param name="odom_topic_platform" value="$(arg ODOM_TOPIC_PLATFORM)"/>

  <node pkg="cpr_closed_loop_controller" name="cpr_closed_loop_controller"
  type="cpr_closed_loop_controller_node" output="screen"/>

</launch>
